# Example .env file
# Copy this file to .env and fill in the values for the environment variables
# The .env file should not be committed to version control
DB_USER=user682
DB_PASS="oHqcD94Ye*#HIw3H"
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="todolists"
DATABASE_URL="postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}"
